.paragraph {
    width: 800px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 50px;
    margin-bottom: 10px;
}
.title {
    text-indent: 0px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
h1 {
    text-indent: 0;  
}
h2 {
    text-indent: 0;  
}
h3 {
    text-indent: 0;  
}
h4 {
    text-indent: 0;  
}
h5 {
    text-indent: 0;  
}

.ecti-1000 {
    font-weight: bold;
}

.pannelItem {
    font-weight: bold;
    text-decoration: none;
}

figcaption {
    text-indent: 0px;
}

.tableCaption {
    padding: 10px 0px;
    text-indent: 0px;
    text-align:center;
}
table {
    border-collapse:collapse;
    text-indent: 0;
}

th {
    padding: 0px 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th:last-child {
    border-right: 0;
}

td {
    padding: 0px 10px;
    border-right: 1px solid black;
    text-align: center;
}

td:last-child {
    border-right: 0;
}

li {
    text-indent:70px;    
}

.bibKeys {
    color:#003300;
}

.error {
    color:#AA0000;
}

.msg {
    color:#AA76AA;
}
